in root:
    npm init -y
    npm install express pg dotenv
    npm install bcrypt jsonwebtoken
    npm install nodemailer
in Presentation folder(cd Presentation) 
    npm install
    npm install react-router-dom